
#tbordprod{
	border-collapse: collapse;
}
#tbordprod td{
	border: 1px solid black;
}
.tdright {
	text-align: right;
}


#tbordzebr{
	border-collapse: collapse;
}
#tbordzebr td{
	border: 1px solid black;
}
#tbordzebr tbody tr:nth-child(2n+1){
	/*background: #ccc;*/
	background: #dcdcdc;
}

#tbordz{
	border-collapse: collapse;
	font-size: x-small;
}
#tbordz td{
	border: 1px solid black;
}
#tbordz tbody tr:nth-child(2n+1){
	/*background: #ccc;*/
	background: #a2befc;
}
	
	