
#tbordprod{
	border-collapse: collapse;
	border: 1px solid black;
}
#tbordprod td{
	border: 1px solid black;
}
.tdright {
	text-align: right;
}

#tbordrel{
	border-collapse: collapse;
}
#tbordrel td{
	border: 2px solid rgb(226, 144, 96);
}

#tbordrel2{
	border-collapse: collapse;
}
#tbordrel2 td{
	border: 1px solid rgb(4, 0, 255);
}

#tbordzebr{
	border-collapse: collapse;
}
#tbordzebr td{
	border: 1px solid black;
}
#tbordzebr tbody tr:nth-child(2n+1){
	/*background: #ccc;*/
	background: #dcdcdc;
	}
